<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> SNOWMAN V1.0 - [[[SNOWBOARD RIDING DATA ANALYSIS]]] </title>
  <!-- Bootstrap core CSS-->
  <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/js/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/js/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  
  <!--jquery-->
  <script src="/js/jquery/jquery.min.js"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/js/jquery-easing/jquery.easing.min.js"></script>
  <!-- Page level plugin JavaScript-->
  <script src="/js/chart.js/Chart.min.js"></script>
  <script src="/js/datatables/jquery.dataTables.js"></script>
  <script src="/js/datatables/dataTables.bootstrap4.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin.min.js"></script>
  <!-- Demo scripts for this page-->
  <script src="/js/demo/datatables-demo.js"></script>
  <!--<script src="/js/demo/chart-bar-demo.js"></script>-->
  
  <!--chart유틸-->
  <script src="/js/chart.js/utils.js"></script>
  <!--개인기록차트-->
  <script src="/js/myrecord_chart.js"></script> 
  
  
  <script type="text/javascript">

	<!--개발클라이언트id사용-->
	var authUrl = 'https://www.strava.com/oauth/authorize?client_id=29632&redirect_uri=http://snowman.com:8080/auth1result&response_type=code&approval_prompt=force&scope=activity:read_all'
	
	$(function(){

		$('#stravaConnect').click(function(){
		  requestUserAuth();
		});
		
		$('#dataTable1').DataTable({
			"paging": false, // false to disable pagination (or any other option)
			"searching" : false,
			"info" : false,
			"sort" : false,
		  });
		
	});
	
	function requestUserAuth(){
		window.location.replace(authUrl);
	}
	
	//날짜포맷 util
	function formatDate(date) {
		var d = new Date(date),
			month = '' + (d.getMonth() + 1),
			day = '' + d.getDate(),
			year = d.getFullYear();

		if (month.length < 2) month = '0' + month;
		if (day.length < 2) day = '0' + day;

		return [year, month, day].join('-');
	}
	
	function convertDistance(distance){
		var result = 0;
		if(distance > 0){
			result = (distance / 1000);
		}
		return result.toFixed(2);
	}
	
	//스피드의 원값은 km/s 이다. 1km/s = 3600km/h
	function convertSpeed(speed){
		var result = 0;
		if(speed > 0){
			result = (speed / 3600) * 1000;
		}
	
		return result.toFixed(1)
	}
	
	function nullValid(content){
		var result = content;
		if(result == undefined || result == 'undefined' || result === 'null' || result === 'NULL'){
			result = '';
		}
		return result;
	}

	</script>
</head>

<body id="page-top">
<input type="hidden" id="authComp" value="#authVal#"/>
<input type="hidden" id="profileData" value="#profileVal#"/>

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="index.html">S n O w M a N</a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
		#userLine#
        <button id="stravaConnect" type="button" class="btn" 
		style="width:193px; height:48px; background: url(/resource/strava/1.1connect_with_strava/btn_strava_connectwith_light/btn_strava_connectwith_light.png) no-repeat ; "></button>
      </div>
    </form>
    <!-- Navbar -->
  </nav>
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/index">
          <i class="fas fa-fw fa-home"></i>
          <span>홈</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/myrecord">
          <i class="fas fa-fw fa-edit"></i>
          <span>개인기록</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/rank">
          <i class="fas fa-fw fa-list-alt"></i>
          <span>랭킹</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-cloud"></i>
          <span>클럽</span></a>
      </li>
    </ul>
    <div id="content-wrapper" style="">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">개인기록</a>
          </li>
        </ol>
        <!-- Icon Cards-->
        <!-- sample personel -->
        <div class="card mb-3">
          <div class="card-body"> 
			<div class="list-group">
			  <a href="#" class="list-group-item list-group-item-success">
				사진/ 개인정보 화면구성
			  </a>
			  <a href="#" class="list-group-item" id="profile"><img src="" id="listProfileImg" class="img-circle" alt="Cinque Terre" style="width=100px; height:100px; border-radius:10%;"></a>
			  <a href="#" class="list-group-item" id="name"></a>
			  <a href="#" class="list-group-item" id="sex"></a>
			  <a href="#" class="list-group-item" id="city"></a>
			  <a href="#" class="list-group-item" id="rank">현재 00km / 00위</a>
			</div>
		   </div>
        </div>
		
		<!-- pie Chart Example-->
        <div class="card mb-3">
          <div class="card-body">
            <canvas id="myPieChart" width="100%" height="30"></canvas>
          </div>
        </div>
		
        <!-- Chart Example-->
        <div class="card mb-3">
          <div class="card-header" contenteditable="true">
            <i class="fas fa-chart-area"></i>&nbsp;개인기록</div>
          <div class="card-body">
            <canvas id="myLineChart" width="100%" height="30"></canvas>
          </div>
        </div>
		
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <!--<th>아이디</th>-->
                    <th>날짜</th>
                    <th>거리(km)</th>
                    <th>타입</th>
                    <th>평균속도(km/h)</th>
                    <th>최고속도(km/h)</th>
					<th>고도</th>
					<th>칼로리</th>
					
                  </tr>
                </thead>
                
                <tbody id="privateDataBody">
                </tbody>
              </table>
            </div>
          </div>
        </div>
     
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2018</span>
          </div>
        </div>
      </footer>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top" style="display: none; opacity: 0.995006;">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
	
	<!--동적스크립트라인-->
	<script type="text/javascript">
		
		//파이차트
		var ctxPie = document.getElementById('myPieChart');
		var pieChart = new Chart(ctxPie, pieConfig);
		//pieChart.update();
	
		//라인차트
		var ctx = document.getElementById('myLineChart').getContext('2d');
		window.myLine = new Chart(ctx, config);	
		
		var auth = $('#authComp').val();
		
		if(auth == '1'){ //인증됬다는 플래그
		
			$('#stravaConnect').hide();
			
			//프로필 표시
			var profileData = $('#profileData').val();
			var profileArray = profileData.split('|');
			//alert(profileData);
			//$('#profileView').append(profileData);
			$('#listProfileImg').attr("src", nullValid(profileArray[2]));
			$('#name').html(nullValid(profileArray[1]));
			$('#sex').html(nullValid(profileArray[4]));
			$('#city').html(nullValid(profileArray[5]));
			//$('#rank').append = '';
			
			
			//파이차트 - 단순히 기록 데이터를 가지고 하기때문에 .. 거리등으로 썸해서 묶을 필요가 있음
			$.get("/getWeekRecordData", function(data, status){
				//alert(data);
				var labelBuild = new Array();
				var dataBuild = new Array();
				
				for(var i=0; i<data.length; i++){
					labelBuild[i] = data[i].week; 
					dataBuild[i] = data[i].weekcnt;
					
				}
				
				pieConfig.data.labels = labelBuild;
				pieConfig.data.datasets[0].data = dataBuild;
				pieChart.update();
				
			});
						
			//라인차트
			$.get("/getMyRecordData", function(data, status){
				var colorNames = Object.keys(window.chartColors);
				var content = data;

				var newDataset1 = {
					label: '거리데이터',
					backgroundColor: 'red',
					borderColor: 'red',
					data: [],
					fill: false
				};
				
				var newDataset2 = {
					label: '최고속도',
					backgroundColor: 'orange',
					borderColor: 'orange',
					data: [],
					fill: false
				};
				
				/*
				var newDataset3 = {
					label: '고도',
					backgroundColor: 'green',
					borderColor: 'green',
					data: [],
					fill: false
				};
				*/
				
				/*
				var newDataset4 = {
					label: '칼로리',
					backgroundColor: 'blue',
					borderColor: 'blue',
					data: [],
					fill: false
				};
				*/
				
				var strHTML = '';
				
				for(var i=0; i<content.length; i++){
										
					var userId = content[i].athlete_id;
					var startDate = content[i].state_date;
					var dist = content[i].distance;
					var type = content[i].type;
					var averageSpeed = content[i].average_speed;
					var maxSpeed = content[i].max_speed;
					var elev = content[i].elev;
					var calories = content[i].calories;
										
					//라벨 x축 date
					//데이터 y축 distance
					config.data.labels.push(formatDate(startDate)); //state 오타 = stratdate
					newDataset1.data.push(convertDistance(dist)); //거리
					newDataset2.data.push(convertSpeed(maxSpeed)); //속도
					//newDataset3.data.push(elev); //고도
					//newDataset4.data.push(calories); //칼로리
								
					strHTML += '<tr>';
						//strHTML += '<td>' + nullValid(userId) + '</td>'
						strHTML += '<td>' + nullValid(formatDate(startDate)) + '</td>'
						strHTML += '<td>' + nullValid(convertDistance(dist)) + '</td>'
						strHTML += '<td>' + nullValid(type) + '</td>'
						strHTML += '<td>' + nullValid(convertSpeed(averageSpeed)) + '</td>'
						strHTML += '<td>' + nullValid(convertSpeed(maxSpeed)) + '</td>'
						strHTML += '<td>' + nullValid(elev) + '</td>'
						strHTML += '<td>' + nullValid(calories) + '</td>'
					strHTML += '</tr>'		
					
				}
								
				config.data.datasets.push(newDataset1);
				config.data.datasets.push(newDataset2);
				//config.data.datasets.push(newDataset3);
				//config.data.datasets.push(newDataset4);
				window.myLine.update();
				
				$("#privateDataBody").html(strHTML);	
				
			});
			
		}
				
	</script>
  
  
  <!--<pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>-->
</body>

</html>