<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> SNOWMAN V1.0 - [[[SNOWBOARD RIDING DATA ANALYSIS]]] </title>
  <!-- Bootstrap core CSS-->
  <link href="/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="/js/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="/js/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  
  <!--jquery-->
  <script src="/js/jquery/jquery.min.js"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="/js/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="/js/jquery-easing/jquery.easing.min.js"></script>
  <!-- Page level plugin JavaScript-->
  <script src="/js/chart.js/Chart.min.js"></script>
  <script src="/js/datatables/jquery.dataTables.js"></script>
  <script src="/js/datatables/dataTables.bootstrap4.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin.min.js"></script>
  <!-- Demo scripts for this page-->
  <script src="/js/demo/datatables-demo.js"></script>
  <!--<script src="/js/demo/chart-bar-demo.js"></script>-->
  
  <!--chart유틸-->
  <script src="/js/chart.js/utils.js"></script>
  <!--개인기록차트-->
  <script src="/js/rank_chart.js"></script> 
  
  <script type="text/javascript">

	<!--개발클라이언트id사용-->
	var authUrl = 'https://www.strava.com/oauth/authorize?client_id=29632&redirect_uri=http://snowman.com:8080/auth1result&response_type=code&approval_prompt=force&scope=activity:read_all'
	
	$(function(){
		$('#stravaConnect').click(function(){
		  requestUserAuth();
		});
		
		$('#dataTable1').DataTable({
			"paging": false, // false to disable pagination (or any other option)
			"searching" : false,
			"info" : false,
			"sort" : false,
		  });
		  
		$('#dataTable2').DataTable({
			"paging": false, // false to disable pagination (or any other option)
			"searching" : false,
			"info" : false,
			"sort" : false,
		});
		
	});
	
	function requestUserAuth(){
		window.location.replace(authUrl);
	}
	
	//날짜포맷 util
	function formatDate(date) {
		var d = new Date(date),
			month = '' + (d.getMonth() + 1),
			day = '' + d.getDate(),
			year = d.getFullYear();

		if (month.length < 2) month = '0' + month;
		if (day.length < 2) day = '0' + day;

		return [year, month, day].join('-');
	}
	
	function convertDistance(distance){
		var result = 0;
		if(distance > 0){
			result = (distance / 1000);
		}
		return result.toFixed(2);
	}
	
	//스피드의 원값은 km/s 이다. 1km/s = 3600km/h
	function convertSpeed(speed){
		var result = 0;
		if(speed > 0){
			result = (speed / 3600) * 1000;
		}
	
		return result.toFixed(1)
	}
	
	
	function nullValid(content){
		var result = content;
		if(result == undefined || result == 'undefined' || result === 'null' || result === 'NULL'){
			result = '';
		}
		return result;
	}


	</script>
</head>

<body id="page-top">
  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="index.html">S n O w M a N</a>
    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
	
    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
		#userLine#
        <button id="stravaConnect" type="button" class="btn" 
		style="width:193px; height:48px; background: url(/resource/strava/1.1connect_with_strava/btn_strava_connectwith_light/btn_strava_connectwith_light.png) no-repeat ; "></button>
      </div>
    </form>
    <!-- Navbar -->
	
  </nav>
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/index">
          <i class="fas fa-fw fa-home"></i>
          <span>홈</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/myrecord">
          <i class="fas fa-fw fa-edit"></i>
          <span>개인기록</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/rank">
          <i class="fas fa-fw fa-list-alt"></i>
          <span>랭킹</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-fw fa-cloud"></i>
          <span>클럽</span></a>
      </li>
    </ul>
    <div id="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">홈</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-list-alt"></i> 나의 랭킹</div>
          <div class="card-body"><span id="myDistRank"></span></div>
        </div>
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-list-alt"></i> 총 랭킹</div>
          
		    <div class="card-body"> 거리 랭킹 데이터 </div>
			<!--table start-->
			<div style="margin-left: 10px; margin-right:10px;">
			  <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
				<thead>
				  <tr>
					<th>순위</th>
					<th>아이디</th>
					<th>거리</th>
				  </tr>
				</thead>
				<tbody id="distRankBody">
						  
				</tbody>
			  </table>
			</div>
			<!--table end-->
		  
			<div class="card-body"> 속도 랭킹 데이터 </div>
			<!--table start-->
			<div style="margin-left: 10px; margin-right:10px;">
			  <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
				<thead>
				  <tr>
					<th>순위</th>
					<th>아이디</th>
					<th>속도</th>
				  </tr>
				</thead>
				<tbody id="speedRankBody">
						  
				</tbody>
			  </table>
			</div>
			<!--table end-->
		  
        </div>
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-list-alt"></i> 클럽 랭킹</div>
          <div class="card-body"> 랭킹 데이터 준비중 ... </div>
        </div>
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2018</span>
          </div>
        </div>
      </footer>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top" style="">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->

	<!--동적스크립트라인-->
	<script type="text/javascript">
		$(".dataTables_empty").css("display", "none");
		
		$.get("/getMyRank", function(data, status){
			//alert(data);
			var dist = data[0];
			var speed = data[1];
			
			var txtBuild = '<span>현재 나의 거리(km) ' + convertDistance(dist.dist);
				txtBuild += '/' + dist.rk + '순위 </span><br/>';
				txtBuild += '<span>현재 나의 최고속도(km/h) ' + convertSpeed(speed.dist);
				txtBuild += '/' + speed.rk + '순위 </span>';
			
			$('#myDistRank').append(txtBuild);
		});
		
		$.get("/getTotalDistRank", function(data, status){
			//alert(data);
			var txtBuild = '';
			
			for(var i=0; i<data.length; i++){
				txtBuild += '<tr>';
						txtBuild += '<td>' + data[i].rk + '</td>'
						txtBuild += '<td>' + data[i].athlete_id + '</td>'
						txtBuild += '<td>' + data[i].dist + '</td>'
					txtBuild += '</tr>'
			}
			$('#distRankBody').html(txtBuild);
		
		});
		
		
		$.get("/getMaxSpeedRank", function(data, status){
			//alert(data);
			var txtBuild = '';
			
			for(var i=0; i<data.length; i++){
				txtBuild += '<tr>';
						txtBuild += '<td>' + data[i].rk + '</td>'
						txtBuild += '<td>' + data[i].athlete_id + '</td>'
						txtBuild += '<td>' + data[i].speed + '</td>'
					txtBuild += '</tr>'
			}
			$('#speedRankBody').html(txtBuild);
		
		});
		
		
	</script>
	
	
  <!--<pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>-->
</body>

</html>