<html>
    <head>
        <title>Sample Page</title>
	<!--jquery-->
	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
		
	<script type="text/javascript">
	var authUrl = 'https://www.strava.com/oauth/authorize?client_id=29632&redirect_uri=http://snowman.com:8080/auth1result&response_type=code&approval_prompt=force&scope=activity:read_all'
	
	$(function(){
		$('#userAuth').click(function(){
		  requestUserAuth();
		});
	});
	
	function requestUserAuth(){
		window.location.replace(authUrl);
	}

	</script>
	
    </head>        
    <body>
		<div>
			<h3>1. strava_connect !</h3>
			<ul>
				<li>사용자가 진입하여 데이터를 땡겨오기 위해서는 스트라바와 연동이 필요하다.</li>
			</ul>
			<ul>
				<input type="button" id="userAuth" value="스트라바연동하기" />
			</ul>
			
		</div>
		
    </body>
</html>